<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xlh.dao.UserinfoMapper">
  <resultMap id="BaseResultMap" type="com.xlh.entity.Userinfo">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="userName" jdbcType="CHAR" property="username" />
    <result column="password" jdbcType="CHAR" property="password" />
    <result column="Userinfo" jdbcType="CHAR" property="userinfo" />
    <result column="createtime" jdbcType="DATE" property="createtime" />
  </resultMap>
  <insert id="insert" parameterType="com.xlh.entity.Userinfo">
    insert into userinfo (id, userName, password, 
      Userinfo, createtime)
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=CHAR}, #{password,jdbcType=CHAR}, 
      #{userinfo,jdbcType=CHAR}, #{createtime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.xlh.entity.Userinfo">
    insert into userinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="username != null">
        userName,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="userinfo != null">
        Userinfo,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=CHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=CHAR},
      </if>
      <if test="userinfo != null">
        #{userinfo,jdbcType=CHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.xlh.entity.Userinfo">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="userName" jdbcType="CHAR" property="username" />
    <result column="password" jdbcType="CHAR" property="password" />
    <result column="Userinfo" jdbcType="CHAR" property="userinfo" />
    <result column="createtime" jdbcType="REAL" property="createtime" />
  </resultMap>
  <insert id="insert" parameterType="com.xlh.entity.Userinfo">
    insert into userinfo (id, userName, password, 
      Userinfo, createtime)
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=CHAR}, #{password,jdbcType=CHAR}, 
      #{userinfo,jdbcType=CHAR}, #{createtime,jdbcType=REAL})
  </insert>
  <insert id="insertSelective" parameterType="com.xlh.entity.Userinfo">
    insert into userinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="username != null">
        userName,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="userinfo != null">
        Userinfo,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=CHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=CHAR},
      </if>
      <if test="userinfo != null">
        #{userinfo,jdbcType=CHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.xlh.entity.Userinfo">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="createtime" jdbcType="REAL" property="createtime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.xlh.entity.UserinfoWithBLOBs">
    <result column="userName" jdbcType="BINARY" property="username" />
    <result column="password" jdbcType="BINARY" property="password" />
    <result column="Userinfo" jdbcType="BINARY" property="userinfo" />
  </resultMap>
  <sql id="Blob_Column_List">
    userName, password, Userinfo
  </sql>
  <insert id="insert" parameterType="com.xlh.entity.UserinfoWithBLOBs">
    insert into userinfo (id, createtime, userName, 
      password, Userinfo)
    values (#{id,jdbcType=INTEGER}, #{createtime,jdbcType=REAL}, #{username,jdbcType=BINARY}, 
      #{password,jdbcType=BINARY}, #{userinfo,jdbcType=BINARY})
  </insert>
  <insert id="insertSelective" parameterType="com.xlh.entity.UserinfoWithBLOBs">
    insert into userinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="username != null">
        userName,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="userinfo != null">
        Userinfo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=REAL},
      </if>
      <if test="username != null">
        #{username,jdbcType=BINARY},
      </if>
      <if test="password != null">
        #{password,jdbcType=BINARY},
      </if>
      <if test="userinfo != null">
        #{userinfo,jdbcType=BINARY},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.xlh.entity.Userinfo">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="createtime" jdbcType="REAL" property="createtime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.xlh.entity.UserinfoWithBLOBs">
    <result column="userName" jdbcType="BINARY" property="username" />
    <result column="password" jdbcType="BINARY" property="password" />
    <result column="Userinfo" jdbcType="BINARY" property="userinfo" />
  </resultMap>
  <sql id="Blob_Column_List">
    userName, password, Userinfo
  </sql>
  <insert id="insert" parameterType="com.xlh.entity.UserinfoWithBLOBs">
    insert into userinfo (id, createtime, userName, 
      password, Userinfo)
    values (#{id,jdbcType=INTEGER}, #{createtime,jdbcType=REAL}, #{username,jdbcType=BINARY}, 
      #{password,jdbcType=BINARY}, #{userinfo,jdbcType=BINARY})
  </insert>
  <insert id="insertSelective" parameterType="com.xlh.entity.UserinfoWithBLOBs">
    insert into userinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="username != null">
        userName,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="userinfo != null">
        Userinfo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=REAL},
      </if>
      <if test="username != null">
        #{username,jdbcType=BINARY},
      </if>
      <if test="password != null">
        #{password,jdbcType=BINARY},
      </if>
      <if test="userinfo != null">
        #{userinfo,jdbcType=BINARY},
      </if>
    </trim>
  </insert>
</mapper>